APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null


WECHAT_APPID=WECHAT_APPID
WECHAT_SECRET=WECHAT_SECRET
WECHAT_TOKEN=token
WECHAT_AES_KEY=aes_key

WECHAT_LOG_LEVEL=
WECHAT_LOG_FILE=

WECHAT_OAUTH_SCOPES=
WECHAT_OAUTH_CALLBACK=

WECHAT_PAYMENT_MERCHANT_ID='your-mch-id'
WECHAT_PAYMENT_KEY='key-for-signature'
WECHAT_PAYMENT_CERT_PATH= 'path/to/your/cert.pem'
WECHAT_PAYMENT_KEY_PATH='path/to/your/key'
